<h1>Анкеты</h1>
<%= link_to 'Загрузить', upload_worksheets_path %>

<table id="worksheets" class="display" data-source="<%= worksheets_url(format: "json") %>">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Пол</th>
      <th>Возраст</th>
      <th>Язык</th>
      <th>Специальность</th>
      <th>Дата</th>
      <th>Город</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'Создать Анкету', new_worksheet_path %>
