<p id="notice"><%= notice %></p>

<p>
  <strong>Язык:</strong>
  <%= @language.language %>
</p>

<%= link_to 'Редактировать', edit_language_path(@language) %> |
<%= link_to 'Назад', languages_path %>
