<p id="notice"><%= notice %></p>

<p>
  <strong>Реакция:</strong>
  <%= @reaction.reaction %>
</p>

<%= link_to 'Редактировать', edit_reaction_path(@reaction) %> |
<%= link_to 'Назад', reactions_path %>
