<p id="notice"><%= notice %></p>

<p>
  <strong>Специальность:</strong>
  <%= @specialty.specialty %>
</p>

<%= link_to 'Редактировать', edit_specialty_path(@specialty) %> |
<%= link_to 'Назад', specialties_path %>
