<header>
  <nav class="round">
      <%= link_to "Домой", root_path %> |
      <%= link_to "Справочник", pages_directory_path %> |
      <%= link_to "Анкеты", worksheets_path %> |
      <%= link_to "Статистика", statistic_path %> |
  </nav>

</header>